.ItemCount{
    background-color:white;
    display: flex;
    flex-direction: raw;
    width: 100px;
    justify-content: space-evenly;
    margin-left: 3em;
}

.button{
    font-size: 1.2rem;
    color: gray;
}